# Ferramentas de IDE e Sistema
.vscode/
.idea/
*.iml
.DS_Store
*.swp
*~

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
# Para casos de geração de código se necessário descomentar abaixo (Freezed, Riverpod, etc)
# *.freezed.dart
# *.g.dart

# Secrets e Variáveis de Ambiente (MUITO IMPORTANTE)
.env*